//! **************************************************************************
// Written by: Map P.20131013 on Mon Oct 12 19:06:49 2015
//! **************************************************************************

SCHEMATIC START;
COMP "en" LOCATE = SITE "T9" LEVEL 1;
COMP "clk" LOCATE = SITE "E12" LEVEL 1;
COMP "led" LOCATE = SITE "R20" LEVEL 1;
SCHEMATIC END;

